@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

nav{
    display: flex;
    width: 100%;
}

header::before{
    width: 100vw;
    height: 100vh;
    display: block;
    content: "";
    position: absolute;
}

header ul{
    display: flex;
    width: 100%;
}

header{
    justify-content: space-around;
    align-items: center;
}

nav ul{
    justify-content: center;
}

nav ul li {
    font-family: 'Roboto';    
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 26px;
    display: inline;
    text-align: center;
    letter-spacing: -0.1px;
}

nav li a {
    color: #161C2D;
    text-decoration: none;
    padding: 5px 26px;
    display: inline;
}

#sessao-apresentacao{
    display: flex;
    width: 100vw;
    height: 100vh;
    gap: 5rem;
    padding: 2rem;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#sessao-apresentacao img{
    Width: 632px;
    Height: 948px;
    Top: 896px;
}

#texto-apresentacao{
    font-family: Questrial;
    color: #161C2D;
}

#texto-apresentacao h2{
    font-size: 48px;    
}

#texto-apresentacao p{
    font-size: 19px;
    color: #161C2D;
    opacity: 70%;    
}

.card{
    display: flex;
    flex-direction: row;
}
.card h3{
    font-family: Questrial;
    font-weight: bold;
    font-size: 21px;
    color: #161C2D;
}

.card p{
    font-family: Questrial;
    font-size: 17px;
    color: #161C2D;
    opacity: 70%;
}

.logo{
    height: 28px;
    left: 0%;
    right: 90.13%;
    top: calc(50% - 28px/2 - 2px);
    margin-right: 1rem;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.133333px;

    color: #161C2D;
}

.btn{
    font-family: 'Roboto';    
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    height: 50px;
    width: 247px;
    margin-right: 1rem;
    color: white;
    background: #473BF0;
    border-radius: 8px;
}

#airpod img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 356px;
    height: 301px;
    margin-top: 100px;
}

.airpod{
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: -10;
}

#sessao-apresentacao{
    display: flex;
    height: 100vh;
    gap: 5rem;
    padding: 2rem;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100vh;
}

#sessao-apresentacao img{
    Width: 632px;
    Height: 948px;
    Top: 896px;
}

#texto-apresentacao{
    font-family: Questrial;
    color: #161C2D;
}

#texto-apresentacao h2{
    font-size: 48px;    
}

#texto-apresentacao p{
    font-size: 19px;
    color: #161C2D;
    opacity: 70%;    
}

.card{
    display: flex;
    flex-direction: row;
}
.card h3{
    font-family: Questrial;
    font-weight: bold;
    font-size: 21px;
    color: #161C2D;
}

.card p{
    font-family: Questrial;
    font-size: 17px;
    color: #161C2D;
    opacity: 70%;
}
